<div class='jumbotron  head text-center'><h1>blog hub</h1></div>
<h1>Pen down your thoughts to share with world</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink='/create' class="nav-link active" aria-current="page" href="#">create</a>
          </li>
          <li class="nav-item">
            <a routerLink='list' class="nav-link active" aria-current="page" href="#">list</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>


